/* Header */
.header {
  box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
  border-radius: 0px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: 15px 0;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.header__nav {
  font-size: 14px;
  line-height: 20px;
}

.header__nav,
ul,
li {
  display: flex;
  margin-left: 30px;
}

.header__link {
  display: flex;
  align-items: center;
  text-align: center;
  color: #1d2f38;
}

.header__link-img {
  margin-right: 6px;
}

.header__login {
  margin-left: 294px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.header__login_link {
  color: #1d2f38;
}

.header__login-img {
  margin-right: 8px;
}

@media (max-width: 1200px) {
  .header {
    box-shadow: none;
  }
}

@media (max-width: 1180px) {
  .header__row {
    justify-content: flex-start;
  }
  .header__login {
    margin-left: 290px;
  }
}

@media (max-width: 1156px) {
  .header__login {
    margin-left: auto;
  }
}

@media (max-width: 950px) {
  .header__nav {
    display: none;
  }
}

/* BUY */

.buy__container {
  background-color: #e3ebf1;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.buy__row {
  display: flex;
  justify-content: space-between;
}

.buy__img {
  margin: 50px;
}

.buy__img-pic {
  max-width: 500px;
  object-fit: cover;
}

.buy__description {
  margin: 50px 50px 50px 0px;
  max-width: 500px;
}

.buy__titile {
  color: #10843f;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 8px;
}

.buy__subtitle {
  color: #1d2f38;
  font-family: "Bitter", serif;
  font-size: 47px;
  line-height: 52px;
  margin-bottom: 22px;
}

.buy__text {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.buy__btn {
  max-width: 161px;
  font-size: 15px;
  line-height: 20px;
  background-color: #17a550;
  margin-top: 25px;
  padding: 15px 15px;
  border-radius: 5px;
}

.buy__btn-space {
  color: #fff;
}

@media (max-width: 1200px) {
  .buy__container {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1180px) {
  .buy__container {
    border-radius: 0px;
  }
  .buy__subtitle {
    font-size: 33px;
    line-height: 39px;
    margin-bottom: 22px;
  }
}

@media (max-width: 1156px) {
  .buy__btn {
    padding: 10px;
  }
}

@media (max-width: 1156px) {
  .buy__container {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 970px) {
  .buy__img-pic {
    max-width: 95%;
  }
}

@media (max-width: 899px) {
  .buy__img {
    margin: 20px;
  }
  .buy__description {
    margin: 20px 20px 20px 0px;
    max-width: 500px;
  }
  .buy__subtitle {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 11px;
  }
  .buy__text {
    font-size: 16px;
    line-height: 18px;
  }

  .buy__btn {
    align-items: center;
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 699px) {
  .buy__row {
    flex-wrap: wrap;
  }
}

/* BLOG */

.blog__container {
  margin-bottom: 100px;
}

.blog__heading {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 33px;
}

.blog__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.blog__main-item {
  max-width: 555px;
  margin-right: 40px;
}

.blog__main-item_img {
  margin-bottom: 10px;
}

.blog__main-item-text {
  max-width: 546px;
}

.blog__main-item-title {
  font-family: "Bitter", serif;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 13px;
}

.blog__main-item-description {
  font-size: 15px;
  line-height: 20px;
}

.blog__item-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-height: 150px;
  color: #1d2f38;
  font-size: 18px;
  line-height: 25px;
}

.blog__link-img {
  margin-right: 15px;
}

@media (max-width: 1200px) {
  .blog__container {
    margin-bottom: 60px;
  }
}

@media (max-width: 1180px) {
  .blog__heading {
    font-size: 33px;
    line-height: 35px;
    margin-bottom: 19px;
  }
  .blog__main-item-title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: 970px) {
  .blog__main-item_img {
    max-width: 95%;
  }
  .blog__main-item-text {
    max-width: unset;
  }
}

@media (max-width: 947px) {
  .blog__main-item {
    max-width: 500px;
    margin-right: 20px;
  }
  .blog__link-img {
    max-width: 50%;
  }
}

@media (max-width: 899px) {
  .blog__item-link {
    font-size: 16px;
  }
}

@media (max-width: 899px) {
  .blog__container {
    margin-bottom: 40px;
  }
  .blog__content {
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
}
.blog__main-item {
  max-width: 700px;
  margin-bottom: 20px;
}
.blog__main-item-text {
  max-width: 555px;
}
.blog__item-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-height: 150px;
  color: #1d2f38;
  font-size: 14px;
  line-height: 18px;
}

/* PRODUCTS */

.products {
  margin-bottom: 100px;
}

.porducts__container {
  background-color: beige;
  background: url("/Img/products/bg.png");
  border-radius: 10px;
  object-fit: cover;
}

.products__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 31px 0px;
}

.products__logo {
  margin: 31px 12px 31px 30px;
}

.products__title {
  font-family: "Bitter", serif;
  font-size: 28px;
  line-height: 32px;
}

.products__btn {
  margin-left: 318px;
  margin-right: 40px;
  max-width: 111px;
  font-size: 15px;
  line-height: 22px;
  background-color: #17a550;
  padding: 15px 15px;
  border-radius: 5px;
}

.products__btn-space {
  color: #fff;
}

@media (max-width: 1200px) {
  .products {
    margin-bottom: 60px;
  }
}

@media (max-width: 1199px) {
  .products__btn {
    margin-right: 0px;
  }
}

@media (max-width: 1180px) {
  .porducts__container {
    border-radius: 0px;
  }
}

@media (max-width: 1156px) {
  .products__btn {
    margin-left: 240px;
    max-width: 90px;
    font-size: 12px;
    line-height: 17px;
    padding: 10px 10px;
  }
}

@media (max-width: 1069px) {
  .products__btn {
    margin-left: 140px;
  }
}

@media (max-width: 1200px) {
  .products__row {
    margin: 15px;
  }
}

@media (max-width: 977px) {
  .products__btn {
    margin: auto;
  }
}

@media (max-width: 899px) {
  .products__title {
    font-size: 25px;
  }
}

@media (max-width: 799px) {
  .products__logo {
    margin: 21px 6px 21px 5px;
  }
}

@media (max-width: 770px) {
  .products__title {
    font-size: 20px;
  }
}

@media (max-width: 429px) {
  .products__title {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 400px) {
  .products__row {
    flex-wrap: wrap;
  }
  .products__title {
    margin-bottom: 10px;
  }
  .products__btn {
    padding: 5px;
  }
}

/* Reviews */

.review {
  margin-bottom: 100px;
}

.review__heading {
  font-family: "Bitter", serif;
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 33px;
}

.review__items {
  display: flex;
  justify-content: space-between;
}

.review__item {
  max-width: 357px;
  background-color: #f7f9fa;
  position: relative;
  margin-bottom: 40px;
  border-radius: 10px;
}

.review__item-categories {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.review__item-category {
  position: relative;
  width: 60px;
  background-color: #1d2f38;
  opacity: 80%;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 15px;
}

.review__item-img {
  margin-bottom: 24px;
}

.review__item-description {
  max-width: 299px;
  margin-left: 25px;
  margin-bottom: 40px;
}

.review__item-title {
  font-family: "Bitter", serif;
  font-size: 30px;
  line-height: 35px;
}

.review__item-text {
  margin-top: 13px;
  font-size: 15px;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .review {
    margin-bottom: 60px;
  }
}

@media (max-width: 1180px) {
  .review__heading {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 33px;
  }
  .review__items {
    justify-content: flex-start;
  }
  .review__item {
    margin-right: 20px;
  }
  .review__item-title {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 1200px) {
  .review {
    margin-bottom: 40px;
  }
}

@media (max-width: 977px) {
  .review__item-img {
    margin-bottom: 1%;
  }
  .review__item-description {
    margin-left: 3%;
    margin-bottom: 5%;
  }
}

@media (max-width: 899px) {
  .review__heading {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 16px;
  }
  .review__items {
    flex-wrap: wrap;
  }
}

/*  NEWSLETTER */

.newslatter__container {
  background-color: beige;
  background: url("/Img/newsletter/bg.png");
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 100px;
}

.newslatter__row {
  display: flex;
}

.newslatter__img {
  margin: 50px;
}

.newslatter__signup {
  margin: 50px 0px;
  max-width: 500px;
}

.newslatter__signup-heading {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.signup-heading-ico {
  margin-right: 10px;
}

.newslatter__signup-title {
  font-family: "Bitter", serif;
  font-size: 30px;
  line-height: 35px;
}

.newslatter__signup-description {
  font-size: 18px;
  line-height: 24px;
}

.newslatter__signup-form {
  margin-top: 24px;
}

.newslatter__signup-input {
  width: 500px;
  height: 50px;
  font-size: 12px;
  line-height: 20px;
  padding-left: 16px;
  border: 1px solid #aabcc5;
  border-radius: 5px;
}

.newslatter__btn {
  margin-top: 31px;
}

.newsletter_btn-yellow {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #000;
  background-color: #ffc728;
  padding: 15px 20px;
  border-radius: 5px;
}

.newsletter_link {
  color: #536d7a;
  font-size: 12px;
  line-height: 20px;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .newslatter__container {
    margin-bottom: 60px;
  }
}

@media (max-width: 1180px) {
  .newslatter__container {
    border-radius: 0px;
  }
}

@media (max-width: 947px) {
  .newslatter__container {
    margin-bottom: 40px;
  }
  .newslatter__signup-input {
    max-width: 360px;
  }
}

@media (max-width: 899px) {
  .newslatter__signup-heading {
    margin-bottom: 20px;
  }
  .newslatter__signup-title {
    font-size: 25px;
    line-height: 30px;
  }
  .newslatter__signup-description {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 699px) {
  .newslatter__row {
    display: flex;
    flex-wrap: wrap;
  }
  .newslatter__img {
    margin: 25px;
  }
  .newslatter__signup {
    margin: 25px 0px;
  }
}

@media (max-width: 390px) {
  .newslatter__signup-input {
    max-width: 250px;
  }
}

/* FOOTER */

.footer {
  background-color: #f7f9fa;
}

.footer__container {
  padding: 20px 0px;
}

.footer_row {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer__about {
  max-width: 357px;
}

.footer__logo {
  margin-bottom: 10px;
}

.footer__social {
  align-items: left;
}

.footer__about-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
}

.footer__articles {
  max-width: 357px;
}

.footer__articles-title {
  font-family: "Bitter", serif;
  font-size: 30px;
  line-height: 35px;
}

.footer__article-link {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 16px;
  line-height: 18px;
}

.footer__article-link-img {
  margin-right: 9px;
  border-radius: 7px;
}

.footer__article-link-title {
  color: #1d2f38;
}

.footer__browse {
  max-width: 357px;
}

.footer__browse-title {
  font-family: "Bitter", serif;
  font-size: 30px;
  line-height: 35px;
}

.footer__browse-serch {
  margin-top: 12px;
  display: flex;
}

.footer__browse-form {
  height: 48px;
  border: 1px solid #aabcc5;
  border-radius: 5px 0px 0px 5px;
}

.footer__browse-form-btn {
  background-color: #768f9c;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  border-radius: 0px 5px 5px 0px;
}

.footer__browse-nav {
  margin-top: 19px;
}

.footer__browse-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}

.footer__browse-link {
  font-size: 16px;
  line-height: 20px;
  color: #1d2f38;
}

.footer__browse-link:not(:last-child) {
  margin-bottom: 7px;
}

.footer__nav-copyright {
  border-top: 1px solid #536d7a;
}

.footer__nav-copyright-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
}

.footer__autors {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #536d7a;
  font-size: 12px;
  line-height: 20px;
}

.footer__autors-links {
  margin-top: 22px;
}

.footer__autors-link {
  margin-right: 10px;
  color: #1d2f38;
}

.footer__autors-names {
  margin-top: 22px;
}

@media (max-width: 1200px) {
  .footer {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .footer__container {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f7f9fa;
  }
}

@media (max-width: 1180px) {
  .footer_row {
    justify-content: flex-start;
  }

  .footer__about {
    max-width: 300px;
    margin-right: 95px;
  }

  .footer__articles {
    max-width: 300px;
    margin-right: 95px;
  }

  .footer__browse {
    max-width: 300px;
  }

  .footer__browse-form {
    position: absolute;
  }

  .footer__browse-form-btn {
    position: relative;
    left: 156px;
    padding: 14px 15px;
  }
}

@media (max-width: 1069px) {
  .footer__about {
    margin-right: 30px;
  }

  .footer__articles {
    margin-right: 30px;
  }

  .footer__browse-form {
    max-width: 160px;
  }
}

@media (max-width: 970px) {
  .footer__browse-serch {
    flex-direction: column;
  }
  .footer__browse-form {
    position: unset;
  }
  .footer__browse-form-btn {
    position: unset;
    max-width: 160px;
  }
}

@media (max-width: 899px) {
  .footer__about {
    max-width: 30%;
  }

  .footer__about-text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .footer__articles {
    max-width: 30%;
  }

  .footer__articles-title {
    font-size: 20px;
    line-height: 25px;
  }

  .footer__article-link {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
  }

  .footer__browse {
    max-width: 30%;
  }

  .footer__browse-title {
    font-size: 20px;
    line-height: 25px;
  }

  .footer__browse-form-btn {
    padding: 10px 10px;
  }

  .footer__browse-nav {
    margin-top: 10px;
  }

  .footer__browse-link {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 770px) {
  .footer_row {
    flex-wrap: wrap;
  }
  .footer__about {
    max-width: 500px;
    margin-bottom: 10px;
  }
  .footer__articles {
    max-width: 500px;
    margin-bottom: 10px;
  }
  .footer__browse {
    max-width: 500px;
  }
}

@media (max-width: 770px) {
  .footer__autors {
    margin-top: 40px;
    line-height: 14px;
    flex-direction: column;
  }
}
